DataAccess/Concrete/ECommerceContext.cs

UI/appsettings.json
UI/appsettings.Development.json

WebAPI/appsettings.json
WebAPI/appsettings.Development.json

.vs/
/WebAPI/appsettings.json
/WebAPI/appsettings.Development.json
