
@model CheckoutViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Ürün Ekle</h2>

        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

        <form asp-controller="Cart" asp-action="CompleteOrder" method="post">

            <div class="row mb-3">
                <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>
                <div class="col-md-8">

                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="FirstName" class="col-md-4 col-form-label" asp-for="FirstName"></label>
                <div class="col-md-8">

                    <input asp-for="FirstName" class="form-control">
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="LastName" class="col-md-4 col-form-label" asp-for="LastName"></label>
                <div class="col-md-8">

                    <input asp-for="LastName" class="form-control">
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Phone" class="col-md-4 col-form-label" asp-for="Phone"></label>
                <div class="col-md-8">

                    <input asp-for="Phone" placeholder="5XXXXXXXXX" id="phoneNumber" class="form-control" maxlength="10" required>
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="AddressTitle" class="col-md-4 col-form-label" asp-for="AddressTitle"></label>
                <div class="col-md-8">

                    <input asp-for="AddressTitle" class="form-control">
                    <span class="text-danger" asp-validation-for="AddressTitle"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Address" class="col-md-4 col-form-label" asp-for="Address"></label>
                <div class="col-md-8 ">
                    <input asp-for="Address" class="form-control">
                    <span class="text-danger" asp-validation-for="Address"></span>
                </div>
            </div>            

                     
            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Siparişi Tamamla</button>
                </div>
            </div>

            <a href="/Cart/Index" class="btn btn-secondary">Sepete Dön</a>
        </form>
    </div>
</div>

@section Scripts
            {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}