
@model CheckoutViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Ürün Ekle</h2>

        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

        <form asp-controller="Cart" asp-action="CompleteOrder" method="post">

            <div class="row mb-3">
                <label for="AddressTitle" class="col-md-4 col-form-label" asp-for="AddressTitle"></label>
                <div class="col-md-8">

                    <input asp-for="AddressTitle" class="form-control">
                    <span class="text-danger" asp-validation-for="AddressTitle"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Address" class="col-md-4 col-form-label" asp-for="Address"></label>
                <div class="col-md-8 ">
                    <input asp-for="Address" class="form-control">
                    <span class="text-danger" asp-validation-for="Address"></span>
                </div>
            </div>            

            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Siparişi Tamamla</button>
                </div>
            </div>

            <a href="@Context.Request.Headers["Referer"]" class="btn btn-secondary">Geri Dön</a>
        </form>
    </div>
</div>

@section Scripts
            {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}