

<div class="text-center">
    <div class="order-completed-container">
        <h2>Teşekkürler! Siparişiniz Alınmıştır</h2>
        <p>Siparişiniz başarıyla tamamlanmıştır. Kısa süre içinde tarafınıza ulaşacaktır.</p>
        <a href="@Url.Action("List", "Product")" class=" btn btn-primary">Anasayfaya Dön</a>
    </div>
</div>