@model List<RoleListViewModel>
<h1 class="text-center fw-light">Roller</h1>
<div class="text-center d-flex justify-content-between mt-4">
    

    @if (TempData["RoleDeleted"] as bool? ?? false)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p>Rol silindi.</p>
        </div>
    }

    @if (TempData["RoleNotDeleted"] as bool? ?? false)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p>Rol silinemedi!</p>
        </div>
    }

    <a asp-action="CreateRole">
        <button class="btn btn-primary fw-bold w-auto" style="max-width: 200px;">Rol ekle</button>
    </a>
</div>

<div class="container mt-4 d-flex justify-content-center">
    <div class="table-responsive w-100" style="max-width: 1200px;">
        <table class="table table-hover table-striped table-bordered text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>RoleName</th>
                    <th>Aksiyonlar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a class="btn btn-outline-success" asp-area="Admin" asp-controller="Role" asp-action="UpdateRole" asp-route-id="@item.Id">Güncelle</a>
                            <a class="btn btn-outline-danger" asp-area="Admin" asp-controller="Role" asp-action="DeleteRole" asp-route-id="@item.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
