@model List<RoleListViewModel>

<div class="text-center d-flex justify-content-between mt-4">
    <h1 class="fw-light">RoleList</h1>

    @if (TempData["RoleDeleted"] as bool? ?? false)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p>Rol silindi.</p>
        </div>
    }

    @if (TempData["RoleNotDeleted"] as bool? ?? false)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p>Rol silinemedi!</p>
        </div>
    }

    <a asp-action="CreateRole">
        <button class="btn btn-primary fw-bold">Rol ekle</button>
    </a>
</div>

<div class="container mt-4">
    <table class="table table-bordered table-striped text-center">
        <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>RoleName</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-warning text-dark me-4" asp-area="Admin" asp-controller="Role" asp-action="UpdateRole" asp-route-id="@item.Id">Güncelle</a>
                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Role" asp-action="DeleteRole" asp-route-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
