@model UpdateRoleViewModel

@{
    ViewData["Title"] = "Rol Güncelle";
}

<h1>Rol Güncelle</h1>

<div class="row">
    <div class="col-md-6">

        @if (TempData["RoleUpdated"] as bool? ?? false)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <p>Rol başarıyla güncellendi.</p>
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="fw-bold">HATA</div>
            <p></p>
        </div>

        <form asp-action="UpdateRole" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" type="text" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button class="btn btn-primary" type="submit">Güncelle</button>
                <a class="btn btn-secondary ms-4" asp-area="Admin" asp-controller="Role" asp-action="RoleList">Rollere git</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
