@model ChangePasswordViewModel

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info" role="alert" style="font-size: 1.2rem;">
        @TempData["SuccessMessage"]
    </div>
}

<div class="row justify-content-center align-items-center min-vh-100" style="background-color: #d2f5f7;">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <h1 class="text-center mb-4 text-primary" style="font-size: 2.5rem;">Şifre Değiştirme</h1>

                <!-- Hata mesajları -->
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                </div>

                <form asp-controller="Member" asp-action="ChangePassword"  method="post">

                    <div class="mb-3">
                        <label for="OldPassword" class="form-label" asp-for="OldPassword" style="font-size: 1.2rem;"></label>
                        <input type="password" class="form-control" asp-for="OldPassword" placeholder="Şifrenizi girin" style="font-size: 1.2rem;" />
                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                    </div>

                    <div class="mb-3">
                        <label for="NewPassword" class="form-label" asp-for="NewPassword" style="font-size: 1.2rem;"></label>
                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="Şifrenizi girin" style="font-size: 1.2rem;" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>

                    <div class="mb-3">
                        <label for="NewPasswordConfirm" class="form-label" asp-for="NewPasswordConfirm" style="font-size: 1.2rem;"></label>
                        <input type="password" class="form-control" asp-for="NewPasswordConfirm" placeholder="Şifrenizi girin" style="font-size: 1.2rem;" />
                        <span class="text-danger" asp-validation-for="NewPasswordConfirm"></span>
                    </div>

                    <button type="submit" class="btn btn-primary w-100" style="font-size: 1.3rem;">Şifre Yenile</button>
                </form>                
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
